- var components = '/assets/components';

script(src='#{ components }/angular/angular#{ suffix }.js')
script(src='#{ components }/angular-i18n/angular-locale_es-cl.js')
script(src='#{ components }/angular-route/angular-route#{ suffix }.js')
script(src='#{ components }/angular-aria/angular-aria#{ suffix }.js')
script(src='#{ components }/angular-animate/angular-animate#{ suffix }.js')
script(src='#{ components }/angular-material/angular-material#{ suffix }.js')
script(src='#{ components }/angular-filter/dist/angular-filter#{ suffix }.js')
script(src='#{ components }/ng-file-upload/ng-file-upload#{ suffix }.js')

script(src='/assets/scripts/client#{ suffix }.js')
