script(src='#{ components }angular/angular#{ suffix }.js')
script(src='#{ components }angular-route/angular-route#{ suffix }.js')
script(src='#{ components }angular-aria/angular-aria#{ suffix }.js')

script(src='/assets/scripts/client#{ suffix }.js')
