- var component = '/assets/components';

//- Angular and related
script(src='#{ component }/angular/angular#{ suffix }.js')
script(src='#{ component }/angular-route/angular-route#{ suffix }.js')
script(src='#{ component }/angular-aria/angular-aria#{ suffix }.js')
script(src='#{ component }/angular-animate/angular-animate#{ suffix }.js')
script(src='#{ component }/angular-material/angular-material#{ suffix }.js')
script(src='#{ component }/angular-i18n/angular-locale_es-cl.js')
script(src='#{ component }/angular-i18n/angular-locale_es-cl.js')
script(src='#{ component }/ng-file-upload/ng-file-upload#{ suffix }.js')

//- Angular application client script
script(src='/assets/scripts/client#{ suffix }.js')
