nav.navbar.navbar-default.navbar-fixed-top(
    ng-controller='Navbar'
    role='navigation')

    div.container-fluid
        div.navbar-header
            button.navbar-toggle.collapsed(
                type='button',
                data-toggle='collapse',
                data-target='#navbar-main')
                
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar

            a.navbar-brand(ng-href='/')
                img(src='/images/navbar_logo.png')

        div.collapse.navbar-collapse#navbar-main
            ul.nav.navbar-nav.navbar-right
                li(ng-show='!session.user')
                    a(ng-href='/login')
                        i.fa.fa-sr.fa-key
                        |Log in

                li(ng-show='session.user && session.workplace')
                    a(ng-href='/profile')
                        i.fa.fa-sr.fa-user
                        |{{ session.user.name }}

                li(ng-show='session.user')
                    button.btn.navbar-btn(ng-click='logout()')
                        i.fa.fa-sr.fa-sign-out
                        |Salir

                li
                    a(ng-href='/help')
                        i.fa.fa-sr.fa-life-ring
                        |Ayuda
