- var suffix = development ? '' : '.min';

doctype html

html(
  ng-app='App',
  lang='es')

  head
    include ./elements/head

  body(layout='row')
    md-sidenav.md-sidenav-left(
      md-is-locked-open='$mdMedia("gt-sm")',
      md-component-id='left',
      main-sidebar)

    md-content(
      layout='column',
      tabIndex='-1',
      role='main',
      flex)

      md-toolbar(main-navbar)

      md-content(
        autoscroll='true',
        ng-view,
        flex)

    include ./elements/scripts
