- var suffix = environment === 'development' ? '' : '.min';

block vars

doctype html

html(
  ng-strict-di=!development,
  ng-app='App',
  lang='en',
  ng-csp)

  head
    title=title

    base(href='/')

    include head/meta
    block meta

    //- Manifest
    link(
      href='/assets/manifest.json',
      rel='manifest')

    include head/icons

    block icons

    block styles

  body.loading(ng-class='(loading && "loading " || " ") + viewClass')
    block body

    //- Ensure it's after all other content to avoid Z-fights and make it available application wide
    .flashes(ng-flashes-container)

    block scripts
