.jumbotron.bg-cover
  .container
    h1(translate='USERS.SIGN_IN.TITLE')
    p(translate='USERS.SIGN_IN.SUBTITLE')

.container.container-pad-bottom
  .row
    .col-sm-6.col-sm-offset-3
      form.panel.panel-default(
        ng-submit='form.$valid && submit()',
        name='form')

        .panel-heading
          h3.panel-title(translate='USERS.SIGN_IN.FORM.TITLE')

        .panel-body
          fieldset
            .form-group
              .input-group
                .input-group-addon
                  i.fa.fa-envelope

                input.form-control(
                  ng-attr-placeholder='{{ "USERS.SIGN_IN.FORM.EMAIL.PLACEHOLDER" | translate }}',
                  ng-model='data.email',
                  type='email',
                  required)

            .input-group
              .input-group-addon
                i.fa.fa-asterisk

              input.form-control(
                ng-attr-placeholder='{{ "USERS.SIGN_IN.FORM.PASSWORD.PLACEHOLDER" | translate }}',
                ng-model='data.password',
                type='password',
                required)

        .panel-footer.text-center
          button.btn.btn-block.btn-primary(
            ng-disabled='form.$pristine || form.$invalid || submitting',
            type='submit')

            span(ng-hide='submitting')
              span(translate='USERS.SIGN_IN.FORM.SUBMIT')
              | &ensp;
              i.fa.fa-fw.fa-sign-in

            span(ng-show='submitting')
              i.fa.fa-fw.fa-spin.fa-circle-o-notch
              | &ensp;
              span(translate='USERS.SIGN_IN.FORM.SUBMITTING')

      .text-center
        a.btn.btn-link(ng-href='/users/sign-up')
          span(translate='USERS.SIGN_IN.BACK')
