.jumbotron.bg-cover
  .container
    h1 Sign in to your account
    p You won't believe it!

.container.container-pad-bottom
  .row
    .col-sm-6.col-sm-offset-3
      .panel.panel-default
        .panel-heading
          .panel-title My account

        .panel-body
          form(
            ng-submit='form.$valid && submit()',
            name='form')

            fieldset
              .form-group
                .input-group
                  .input-group-addon
                    i.glyphicon.glyphicon-envelope

                  input.form-control(
                    placeholder='Enter your email',
                    ng-model='data.email',
                    type='email',
                    required)

              .form-group
                .input-group
                  .input-group-addon
                    i.glyphicon.glyphicon-asterisk

                  input.form-control(
                    placeholder='Enter your password',
                    ng-model='data.password',
                    type='password',
                    required)

            button.btn.btn-block.btn-primary(
              ng-disabled='form.$invalid',
              type='submit')

              | Go to my account!

        .panel-footer.text-center
          a.btn.btn-link(ng-href='/users/sign-up') I don't have an account
