.jumbotron.bg-cover
  .container
    h1 Crea GRATIS tu página web
    p Comienza a recibir propuestas de trabajo al instante.

.container.container-pad-bottom
  .row
    .col-sm-6
      .perk-box
        h3.perk-box-title
          | Beneficios

        .perk-box-body
          .perk
            i.fa.fa-globe
            p #[strong Página web gratis] donde podras compartir y publicar tus proyectos.

          .perk
            i.fa.fa-line-chart
            p #[strong Expande tu empresa] y aumenta tus oportunidades de negocio.

          .perk
            i.fa.fa-inbox
            p #[strong Comienza a recibir] propuestas de trabajo desde el primer día.

    .col-sm-6
      .panel.panel-default
        .panel-heading
          .panel-title Regístrate

        .panel-body
          form(
            ng-submit='form.$valid && submit()',
            name='form')

            fieldset
              .form-group
                .input-group
                  .input-group-addon
                    i.fa.fa-fw.fa-at

                  input.form-control(
                    placeholder='Ingresa tu email',
                    ng-model='data.email',
                    type='email',
                    required)

              .form-group
                .input-group
                  .input-group-addon
                    i.fa.fa-fw.fa-at

                  input.form-control(
                    placeholder='Confirma tu email',
                    ng-model='data.vemail',
                    ng-match='data.email',
                    type='email',
                    required)

              .form-group
                .input-group
                  .input-group-addon
                    i.fa.fa-fw.fa-asterisk

                  input.form-control(
                    placeholder='Crea tu clave',
                    ng-model='data.password',
                    ng-minLength='4',
                    type='password',
                    required)

              .form-group
                .input-group
                  .input-group-addon
                    i.fa.fa-fw.fa-asterisk

                  input.form-control(
                    placeholder='Confirma tu clave',
                    ng-model='data.vpassword',
                    ng-match='data.password',
                    type='password',
                    required)

            button.btn.btn-block.btn-primary(
              ng-disabled='form.$invalid',
              type='submit')

              | Registrarme

        .panel-footer.text-center
          a.btn.btn-link(ng-href='/providers/sign-in') Ya tengo una cuenta
