.jumbotron.bg-cover
  .container
    h1(translate='USERS.SIGN_UP.TITLE')
    p(translate='USERS.SIGN_UP.SUBTITLE')

.container.container-pad-bottom
  .row
    .col-sm-6.col-sm-offset-3
      form.panel.panel-default(
        ng-submit='form.$valid && submit()',
        name='form')

        .panel-heading
          h3.panel-title(translate='USERS.SIGN_UP.FORM.TITLE')

        fieldset.panel-body
          .form-group
            .input-group
              .input-group-addon
                i.fa.fa-fw.fa-user

              input.form-control(
                placeholder='{{ "USERS.SIGN_UP.FORM.NAME.PLACEHOLDER" | translate }}',
                ng-model='data.name',
                type='text',
                required)

          .form-group
            .input-group
              .input-group-addon
                i.fa.fa-fw.fa-envelope

              input.form-control(
                placeholder='{{ "USERS.SIGN_UP.FORM.EMAIL.PLACEHOLDER" | translate }}',
                ng-model='data.email',
                type='email',
                required)

          .form-group
            .input-group
              .input-group-addon
                i.fa.fa-fw.fa-asterisk

              input.form-control(
                placeholder='{{ "USERS.SIGN_UP.FORM.PASSWORD.PLACEHOLDER" | translate }}',
                ng-model='data.password',
                type='password',
                required)

          .form-group
            .input-group
              .input-group-addon
                i.fa.fa-fw.fa-heart

              select.form-control(
                ng-options='gender as (gender | translate) for gender in consts.genders',
                ng-model='data.gender',
                required)

                option(
                  label='{{ "USERS.SIGN_UP.FORM.GENDER.LABEL" | translate }}',
                  value='',
                  hidden)

          .input-group
            .input-group-addon
              i.fa.fa-fw.fa-users

            select.form-control(
              ng-options='role as (role | translate) for role in consts.roles',
              ng-model='data.role',
              required)

              option(
                label='{{ "USERS.SIGN_UP.FORM.ROLE.LABEL" | translate }}',
                value='',
                hidden)

        .panel-footer
          button.btn.btn-block.btn-primary(
            ng-disabled='form.$invalid || submitting',
            type='submit')

            span(translate='USERS.SIGN_UP.FORM.SUBMIT')

      .text-center
        a.btn.btn-link(ng-href='/users/sign-in')
          span(translate='USERS.SIGN_UP.BACK')
