.jumbotron.bg-cover
  .container
    h1 Create your account
    p It's awesome! I promise!

.container.container-pad-bottom
  .row
    .col-sm-6.col-sm-offset-3
      .panel.panel-default
        .panel-heading
          .panel-title Account details

        .panel-body
          form(
            ng-submit='form.$valid && submit()',
            name='form')

            fieldset
              .form-group
                .input-group
                  .input-group-addon
                    i.glyphicon.glyphicon-user

                  input.form-control(
                    placeholder='Enter your name',
                    ng-model='data.name',
                    type='text',
                    required)

              .form-group
                .input-group
                  .input-group-addon
                    i.glyphicon.glyphicon-envelope

                  input.form-control(
                    placeholder='Enter your email',
                    ng-model='data.email',
                    type='email',
                    required)

              .form-group
                .input-group
                  .input-group-addon
                    i.glyphicon.glyphicon-asterisk

                  input.form-control(
                    placeholder='Enter your password',
                    ng-model='data.password',
                    type='password',
                    required)

              .form-group
                .input-group
                  .input-group-addon
                    i.glyphicon.glyphicon-heart

                  select.form-control(
                    ng-options='gender._id as gender.name for gender in statics.genders',
                    ng-model='data.gender',
                    type='password',
                    required)

                    option(
                      label='Choose a gender',
                      value='',
                      hidden)

              .form-group
                .input-group
                  .input-group-addon
                    i.glyphicon.glyphicon-pawn

                  select.form-control(
                    ng-options='role._id as role.name for role in statics.roles',
                    ng-model='data.role',
                    type='password',
                    required)

                    option(
                      label='Choose a role',
                      value='',
                      hidden)

            button.btn.btn-block.btn-primary(
              ng-disabled='form.$invalid || submitting',
              type='submit')

              | Create my account!

        .panel-footer.text-center
          a.btn.btn-link(ng-href='/users/sign-in') I have an account
