.jumbotron.bg-cover
  .container
    h1(translate='USERS.SIGN-IN.TITLE')
    p(translate='USERS.SIGN-IN.SUBTITLE')

.container.container-pad-bottom
  .row
    .col-sm-6.col-sm-offset-3
      form.panel.panel-default(
        ng-submit='form.$valid && submit()',
        name='form')
        .panel-heading
          h3.panel-title(translate='USERS.SIGN-IN.FORM.TITLE')

        .panel-body
          fieldset
            .form-group
              .input-group
                .input-group-addon
                  i.glyphicon.glyphicon-envelope

                input.form-control(
                  ng-attr-placeholder='{{ "USERS.SIGN-IN.FORM.EMAIL.PLACEHOLDER" | translate }}',
                  ng-model='data.email',
                  type='email',
                  required)

            .input-group
              .input-group-addon
                i.glyphicon.glyphicon-asterisk

              input.form-control(
                ng-attr-placeholder='{{ "USERS.SIGN-IN.FORM.PASSWORD.PLACEHOLDER" | translate }}',
                ng-model='data.password',
                type='password',
                required)

        .panel-footer.text-center
          button.btn.btn-block.btn-primary(
            ng-disabled='form.$invalid || submitting',
            type='submit')

            span(translate='USERS.SIGN-IN.FORM.SUBMIT')

      .text-center
        a.btn.btn-link(ng-href='/users/sign-up')
          span(translate='USERS.SIGN-IN.BACK')
