div.row
    div.col-sm-4
        div.form-group
            div.input-group
                span.input-group-addon
                    i.fa.fa-plus-square.fa-fw

                select.form-control(
                    ng-model='createForm.body.motive.type',
                    ng-options='motive.value as motive.name for motive in motives',
                    ng-init='createForm.body.motive.type = motives[0].value')
    
    div.col-sm-4
        div.form-group
                div.input-group
                    span.input-group-addon
                        i.fa.fa-dot-circle-o.fa-fw

                    select.form-control(
                        ng-model='createForm.body.motive.specialty',
                        ng-options='specialty.value as specialty.name for specialty in specialties',
                        ng-init='createForm.body.motive.specialty = specialties[0].value')

    div.col-sm-4
        div.form-group
            div.input-group
                span.input-group-addon
                    i.fa.fa-warning.fa-fw

                select.form-control(
                    ng-model='createForm.body.motive.priority',
                    ng-options='priority.value as priority.name for priority in priorities',
                    ng-init='createForm.body.motive.priority = priorities[0].value')

div.form-group
    div.input-group
        span.input-group-addon
            i.fa.fa-user.fa-pencil

        textarea.form-control(
            ng-model='createForm.body.motive.comment',
            type='textarea',
            rows='4',
            placeholder="Escribe tu comentario sobre esta solicitud de interconsulta...")