div.row
    div.col-sm-9
        div.form-group
            div.input-group
                span.input-group-addon
                    i.fa.fa-user.fa-fw

                input.form-control(
                    ng-model='createForm.patient.run',
                    placeholder="Ingrese el rut del paciente",
                    type='text',
                    required)

    div.col-sm-3
        div.form-group
            button.btn.btn-default.btn-block(
                type='button',
                ng-disabled='fetching || !createForm.patient.run',
                ng-click='createForm.patient.run && fetchPatient()')

                i(class='fa fa-sr {{ fetching && "fa-circle-o-notch fa-spin" || "fa-search" }}')
                |Buscar

fieldset(ng-show='fetched')
    div.alert.alert-info(ng-show='notFound')
        i.fa.fa-sr.fa-info-circle
        |¡Pucha! El RUT no existe en nuestra base de datos. Por favor verifica que sea el RUT correcto y completa los datos a continuación.

    div.row
        div.col-sm-6
            div.form-group
                div.input-group
                    span.input-group-addon
                        i.fa.fa-fw.fa-user

                    input.form-control(
                        ng-model='createForm.patient.name.first',
                        ng-disabled='patient.name.first',
                        placeholder="Nombres del paciente",
                        type='text',
                        required)
                    
                    span.input-group-addon(ng-show='patient.name.first')
                        i.fa.fa-fw.fa-lock

        div.col-sm-6
            div.form-group
                div.input-group
                    span.input-group-addon
                        i.fa.fa-fw.fa-user

                    input.form-control(
                        ng-model='createForm.patient.name.last',
                        ng-disabled='patient.name.last',
                        placeholder="Apellidos del paciente",
                        type='text',
                        required)

                    span.input-group-addon(ng-show='patient.name.last')
                        i.fa.fa-fw.fa-lock

        div.col-sm-6
            div.form-group
                div.input-group
                    span.input-group-addon
                        i.fa.fa-fw.fa-users

                    select.form-control(
                        ng-model='createForm.patient.gender',
                        ng-disabled='patient.gender',
                        ng-options="gender.value as gender.name for gender in genders")

                    span.input-group-addon(ng-show='patient.gender')
                        i.fa.fa-fw.fa-lock

        div.col-sm-6
            div.form-group
                div.input-group
                    span.input-group-addon
                        i.fa.fa-fw.fa-map-marker

                    input.form-control(
                        ng-model='createForm.patient.city',
                        ng-disable='patient.city',
                        type='text',
                        placeholder="Ciudad del paciente",
                        required)

                    span.input-group-addon(ng-show='patient.city')
                        i.fa.fa-fw.fa-lock
