nav.navbar.navbar-inverse.navbar-fixed-top.navbar-fold(
  ng-class='{ "navbar-folded": folded }')


  .container
    .navbar-header
      button.navbar-toggle.collapsed(
        ng-click='toggleCollapse()',
        type='button')

        span.sr-only Toggle navigation

        span.icon-bar
        span.icon-bar
        span.icon-bar

      a.navbar-brand(ng-href='/')
        img(src='/assets/images/ic-navbar.png')
        | {{ $root.app.title }}

    #navbar.navbar-collapse.collapse
      p.navbar-text.navbar-right(ng-if='$root.session.user')
        span(translate='SIGNED-IN-AS')
        strong &ensp;{{ $root.session.user.name }}

        | &ensp;&mdash;&ensp;

        a.navbar-link(
          ng-click='signout()',
          role='button',
          href='')

          span(translate='SIGN-OUT')

      p.navbar-text.navbar-right(ng-if='!$root.session.user')
        a.navbar-link(ng-href='/users/sign-in')
          span(translate='SIGN-IN')
