nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle.collapsed(
        aria-controls='navbar',
        aria-expanded='false',
        type='button')

        span.sr-only Toggle navigation

        span.icon-bar
        span.icon-bar
        span.icon-bar

      a.navbar-brand(ng-href='/') Fi Seed

    #navbar.navbar-collapse.collapse
      form.navbar-form.navbar-right
        .form-group
          input.form-control(
            placeholder='Email',
            type='text')

        |&ensp;

        .form-group
          input.form-control(
            placeholder='Password',
            type='password')

        |&ensp;

        button.btn.btn-success(type='submit') Sign in

        .navbar-collapse
