nav.navbar.navbar-default.navbar-fixed-top.navbar-fold(
  ng-class='{ "navbar-folded": folded }')

  .container
    .navbar-header
      button.navbar-toggle.collapsed(
        ng-click='toggleCollapse()',
        type='button')

        span.sr-only(translate='NAVBAR.TOGGLE_NAVIGATION')

        span.icon-bar
        span.icon-bar
        span.icon-bar

      a.navbar-brand(ng-href='/')
        img(src='/assets/images/ic-navbar.png')
        | {{ $root.app.title }}

    #navbar.navbar-collapse.collapse
      ul.nav.navbar-nav.navbar-right
        li.navbar-text(ng-show='$root.session.user')
          span(translate='NAVBAR.SIGNED_IN_AS')
          strong &ensp;{{ $root.session.user.name }}

        li(ng-show='$root.session.user')
          a(ng-href='/users/sign-out')
            span(translate='NAVBAR.SIGN_OUT')

        li(
          ng-class='{ active: location === "/users/sign-in" }',
          ng-hide='$root.session.user')

          a(ng-href='/users/sign-in')
            span(translate='NAVBAR.SIGN_IN')

        li(
          ng-class='{ active: location === "/users/sign-up" }',
          ng-hide='$root.session.user')

          a(ng-href='/users/sign-up')
            span(translate='NAVBAR.SIGN_UP')
