//- Application info metatags
meta(name='environment', content=environment)
meta(name='version', content=version)
meta(name='stage', content=stage)
meta(name='title', content=title)
meta(name='name', content=name)

//- Webapp metatags
meta(charset='utf-8')
meta(http-equiv='x-ua-compatible' content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
meta(name='apple-mobile-web-app-capable', content='yes')
meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
meta(name='apple-mobile-web-app-status-bar-style', content=themeColor)
meta(name='mobile-web-app-capable', content='yes')
meta(name='theme-color', content=themeColor)
meta(name='msapplication-navbutton-color', content=themeColor)
