form(
    name="UserSignupForm",
    ng-submit="UserSignupForm.$valid && submit()",
    novalidate)

    //- Include the CSRF token provided by the server
    div(style="display: none")
        input(
            type="hidden",
            ng-model="UserSignupForm.csrf",
            ng-init="UserSignupForm.csrf='#{_csrf}'")
            
    fieldset
        legend Create User
        
        div.form-group
            input.form-control(
                type="text",
                placeholder="Enter your name",
                ng-model="UserSignupForm.name",
                required)

        div.form-group
            input.form-control(
                type="email",
                placeholder="Enter your email address",
                ng-model="UserSignupForm.email",
                required)

        div.form-group
            input.form-control(
                type="password",
                placeholder="Enter your password",
                ng-model="UserSignupForm.password",
                required)

    button.btn.btn-primary(
        type="submit",
        ng-disabled="UserSignupForm.$invalid",
        data-loading-text="Submitting&hellip;")
        
        i.fa.fa-fw.fa-pencil
        |&nbsp;Save
