div.row
  div.col-md-4.col-md-offset-4
    div.panel.panel-default
      div.panel-heading
        h3.panel-title
          i.fa.fa-question-circle
          |  Recover password

      form(
        name='form'
        role='form'
        ng-submit='form.$valid && submit()'
        novalidate)

        div.panel-body
          div.input-group
            span.input-group-addon
              i.fa.fa-at.fa-fw

            input.form-control(
              placeholder='Type your email',
              ng-model='form.email',
              type='email',
              required)

        div.panel-footer.text-right
          a.btn.btn-link.pull-left(ng-href='/users/signin') I have my password

          button.btn.btn-primary(
            ng-disabled='form.$invalid || submitting',
            type='submit')

            i.fai(class='fa {{ submitting && "fa-circle-o-notch fa-spin" || "fa-send" }}')
            |  Recover password
