div.row
  div.col-md-6.col-md-offset-3.col-lg-4.col-lg-offset-4
    div.panel.panel-default
      div.panel-heading
        h3.panel-title
          i.fa.fa-sign-in
          |  Sign In

      form(
        name='form',
        role='form',
        ng-submit='form.$valid && submit()',
        novalidate)

        div.panel-body
          div.form-group
            div.input-group
              span.input-group-addon
                i.fa.fa-fw.fa-at

              input.form-control(
                placeholder='Type your email',
                ng-model='form.email',
                type='email',
                required)

          div.input-group
            samp.input-group-addon
                i.fa.fa-fw.fa-asterisk

            input.form-control(
              placeholder='Type your password',
              ng-model='form.password',
              ng-minlength='4',
              type='password',
              required)

        div.panel-footer.text-right
          a.btn.btn-link.pull-left(ng-href='/users/signup') Don't have an account

          a.btn.btn-link(ng-href='/users/recover') Forgot my password

          button.btn.btn-primary(
            ng-disabled='form.$invalid || submitting',
            type='submit')

            i.fa(class='{{ submitting && "fa-circle-o-notch fa-spin" || "fa-sign-in" }}')
            |  Sign In
