extends ../layout

//- View's meta
block meta
  meta(property='og:image', content=`${ host }/assets/images/og-image.jpg`)
  meta(property='og:description', content=description)
  meta(property='og:site_name', content=title)
  meta(property='og:locale', content='en_US')
  meta(property='og:type', content='website')
  meta(property='og:title', content=title)

//- View's styles
block styles
  link(
    href=`/assets/styles/client${ suffix }.css`,
    rel='stylesheet')

//- View's body
block body
  //- Main navbar goes here on this layout
  section(main-navbar)

  //- Angular views go here on this layout
  main(
    autoscroll='true',
    ng-view)

  //- This is the main footer for this layout
  section(main-footer)

//- View's scripts
block scripts
  script(src=`/assets/scripts/build${ suffix }.js`)
